body{
    color: white;
}
.main{
    font-size: xx-large;
}

img{
    max-width: 100px;
    margin: 20px;
    filter: drop-shadow(2px 2px 0 white)
        drop-shadow(-2px 2px 0 white)
        drop-shadow(2px -2px 0 white)
        drop-shadow(-2px -2px 0 white)
}

.galleria{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 90px;
        margin: 100px;
        li{
            height: 400px;
            width: 200px;
            border: 2px solid white;
            padding: 20px;
            border-radius: 50px;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
            url(../../../assets/lands.png);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

figure{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}